<div class="container-main">
    <div class="container-fluid">
        <div class="card shadow-sm">
            <div class="card-header">
                <h4> {{'VEÍCULOS'}}</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PLACA</th>
                            <th scope="col">MARCA</th>
                            <th scope="col">MODELO</th>
                            <th scope="col">CHASSI</th>
                            <th scope="col">RENAVAM</th>
                            <th scope="col">ANO</th>
                            <th class="align-center" scope="col">EDITAR</th>
                            <th class="align-center" scope="col">EXCLUIR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehicle of vehicles">
                            <th scope="row">{{vehicle.plate}}</th>
                            <td>{{vehicle.brand}}</td>
                            <td>{{vehicle.model}}</td>
                            <td>{{vehicle.chassi}}</td>
                            <td>{{vehicle.renavam}}</td>
                            <td>{{vehicle.year}}</td>
                            <td class="align-center click"><i class="bi bi-pencil-square click" (click)="editVehicle(vehicle,'update')" data-mdb-target="#exampleModal"
                                ></i>
                            </td>
                            <td class="align-center click"><i class="bi bi-trash"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>