<div class="shadow-sm p-3 mb-5 bg-body">
    <div class="container-main container-header">
        <span class="header-title-display click" (click)="home()"> 
            <i class="bi bi-car-front-fill header-icon"></i>
            <h4 class="header-title">Fleet Manager</h4>
        </span>
        <div class="dropdown">
            <button type="button" class="btn dropdown" data-bs-toggle="dropdown">
                <i class="bi bi-list header-icon"></i>
             </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"><i class="bi bi-car-front-fill"></i>Veículos</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i>Clientes</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-currency-dollar"></i>Finanças</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-database"></i>Marcas e Modelos</a></li>
            </ul>
        </div>
    </div>
</div>